<p>Accordion Demo</p>
<div ng-controller="View2Ctrl">
 <div class="accordion_menu">
   <div id="systemAccordion">
    <div class="accordion" ng-click="showSystemPanelFn()">
      <span>System</span>
    </div>
    <div class="panel" ng-show="showSystemPanel">
      <div class="content" >
        <div class="header">
          <span>Select Systems</span>
        </div>
      </div>
    </div>
   </div>
   <div id="Accordion">
     <div class="accordion" ng-click="showComputerPanelFn()">
       <span>Computer</span>
     </div>
     <div class="panel" ng-show="showComputerPanel">
       <div class="content" >
         <div class="header">
           <span>Select Computers</span>
         </div>
       </div>
     </div>
   </div>

 </div>
</div>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
